extends layout

block content
  h1 Standings #[small View the total votes for each image]

  hr

  table(class="table table-striped text-center")
    thead
      tr
        th Image
        th Total Votes
    tbody
      each image in theStandings
        tr
          td
            img(src='images/#{image.image}.jpg' style='width: 250px;')
          td
            h2= image.totalVotes
            if image.totalVotes > 0
              h3: span(class='label label-danger') HOT!
            else
              h3: span(class='label label-primary') NOT HOT!
