/* line 1, ../../compass/sass/styles.scss */
img {
  display: block;
  margin: auto;
  width: 500px;
}
/* line 6, ../../compass/sass/styles.scss */
img .small-img {
  width: 50px;
}

/* line 11, ../../compass/sass/styles.scss */
.btn {
  margin: 10px;
  width: 40%;
}
